# Analysis of customer preferences in car purchases

The aim of the project Analysis of customer preferences in car purchases is to understand the key factors that influence customers' purchasing decisions when choosing cars. The analysis includes examining the popularity of various brands, models, colors and body types, as well as examining how gender, income and region affect purchasing preferences. The results of this analysis can help dealers and manufacturers better match their offerings to market needs and target marketing strategies more effectively.

Pytania badawcze na podstawie dostępnych danych:

1 Jakie marki i modele samochodów są najczęściej kupowane?
-Które marki (kolumna Company) i modele (kolumna Model) są najczęściej wybierane przez klientów?
-Czy istnieją różnice w popularności marek w zależności od regionu sprzedaży (Dealer_Region)?

2 Jakie preferencje kolorystyczne mają klienci przy wyborze samochodów?
-Jakie kolory samochodów (kolumna Color) cieszą się największą popularnością?
-Czy kolory samochodów różnią się w zależności od regionu lub modelu samochodu?

3 Jakie typy nadwozia są najczęściej wybierane?
-Które typy nadwozia (kolumna Body Style) są preferowane przez klientów?
-Czy wybory dotyczące typu nadwozia różnią się w zależności od dochodów klientów (kolumna Annual Income)?

4 Czy płeć klienta wpływa na wybory zakupowe?
-Jakie modele, marki i kolory samochodów są popularne wśród mężczyzn, a jakie wśród kobiet (kolumna Gender)?
-Czy istnieje różnica w wyborze typu nadwozia w zależności od płci?

5 Jak dochód klienta wpływa na wybór samochodu?
-Czy istnieje korelacja między dochodami (kolumna Annual Income) a ceną samochodu (kolumna Price ($))?
-Jak dochody klientów wpływają na wybór marki, modelu, koloru lub typu nadwozia?

6 Jak region sprzedaży wpływa na wybory klientów?
-Czy klienci z różnych regionów (Dealer_Region) wybierają inne marki, modele, kolory lub typy nadwozia?
-Jak różni się średnia cena samochodów sprzedawanych w poszczególnych regionach?

7 Jakie preferencje zakupowe mają klienci w zależności od rodzaju silnika i skrzyni biegów?
-Które typy silników (kolumna Engine) i skrzyń biegów (kolumna Transmission) są najczęściej wybierane?
-Czy istnieją różnice w wyborze rodzaju silnika i skrzyni biegów w zależności od płci, dochodu lub regionu?

8 Jakie czynniki wpływają na cenę samochodu?
-Czy cena samochodu (kolumna Price ($)) zależy od marki, modelu, typu nadwozia, koloru lub regionu?
-Jakie czynniki mają największy wpływ na różnice w cenach?

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("Car Sales.xlsx - car_data.csv")

In [4]:
data.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         23906 non-null  object
 1   Date           23906 non-null  object
 2   Customer Name  23905 non-null  object
 3   Gender         23906 non-null  object
 4   Annual Income  23906 non-null  int64
 5   Dealer_Name    23906 non-null  object
 6   Company        23906 non-null  object
 7   Model          23906 non-null  object
 8   Engine         23906 non-null  object
 9   Transmission   23906 non-null  object
 10  Color          23906 non-null  object
 11  Price ($)      23906 non-null  int64
 12  Dealer_No      23906 non-null  object
 13  Body Style     23906 non-null  object
 14  Phone          23906 non-null  int64
 15  Dealer_Region  23906 non-null  object
dtypes: int64(3), object(13)
memory usage: 2.9+ MB

In [6]:
data.isna().sum()

Car_id           0
Date             0
Customer Name    1
Gender           0
Annual Income    0
Dealer_Name      0
Company          0
Model            0
Engine           0
Transmission     0
Color            0
Price ($)        0
Dealer_No        0
Body Style       0
Phone            0
Dealer_Region    0
dtype: int64

In [7]:
missing_customer_name = data[data['Customer Name'].isna()]
print(missing_customer_name)

            Car_id       Date Customer Name Gender  Annual Income  \
7564  C_CND_007565  11/5/2022           NaN   Male         680000

           Dealer_Name Company       Model                     Engine  \
7564  Saab-Belle Dodge   Dodge  Ram Pickup  DoubleÂ Overhead Camshaft

     Transmission       Color  Price ($)  Dealer_No  Body Style    Phone  \
7564         Auto  Pale White      45000  60504-7114    Hardtop  7203103

     Dealer_Region
7564        Aurora

# I don't need the customer's name for this analysis, so I will leave this row in the database.

In [8]:
print(data.dtypes)

Car_id           object
Date             object
Customer Name    object
Gender           object
Annual Income     int64
Dealer_Name      object
Company          object
Model            object
Engine           object
Transmission     object
Color            object
Price ($)         int64
Dealer_No        object
Body Style       object
Phone             int64
Dealer_Region    object
dtype: object

# First task

In [9]:
company_counts = data['Company'].value_counts().reset_index()
company_counts.columns = ['Company', 'Count']
print(company_counts)

       Company  Count
0    Chevrolet   1819
1        Dodge   1671
2         Ford   1614
3   Volkswagen   1333
4   Mercedes-B   1285
5   Mitsubishi   1277
6     Chrysler   1120
7   Oldsmobile   1111
8       Toyota   1110
9       Nissan    886
10     Mercury    874
11       Lexus    802
12     Pontiac    796
13         BMW    790
14       Volvo    789
15       Honda    708
16       Acura    689
17    Cadillac    652
18    Plymouth    617
19      Saturn    586
20     Lincoln    492
21        Audi    468
22       Buick    439
23      Subaru    405
24        Jeep    363
25     Porsche    361
26     Hyundai    264
27        Saab    210
28    Infiniti    195
29      Jaguar    180

In [11]:
max_company = company_counts.nlargest(1, 'Count')
print(max_company)

     Company  Count
0  Chevrolet   1819

In [17]:
company_model_counts = data.groupby(['Company', 'Model']).size().reset_index(name='Model_Count')

In [18]:
most_common_model = company_model_counts.loc[company_model_counts.groupby('Company')['Model_Count'].idxmax()]

In [19]:
company_counts_with_model = pd.merge(company_counts, most_common_model[['Company', 'Model', 'Model_Count']], on='Company')

In [20]:
print(company_counts_with_model)

       Company  Count          Model  Model_Count
0    Chevrolet   1819          Prizm          411
1        Dodge   1671     Ram Pickup          383
2         Ford   1614       Explorer          225
3   Volkswagen   1333         Passat          391
4   Mercedes-B   1285        S-Class          238
5   Mitsubishi   1277       Diamante          418
6     Chrysler   1120            LHS          330
7   Oldsmobile   1111     Silhouette          411
8       Toyota   1110         Tacoma          179
9       Nissan    886     Pathfinder          267
10     Mercury    874  Grand Marquis          261
11       Lexus    802          LS400          354
12     Pontiac    796        Sunfire          241
13         BMW    790           528i          324
14       Volvo    789            S40          282
15       Honda    708         Accord          243
16       Acura    689             RL          372
17    Cadillac    652       Eldorado          232
18    Plymouth    617           Neon          182
19      Saturn    586             LW          170
20     Lincoln    492    Continental          206
21        Audi    468             A6          329
22       Buick    439    Park Avenue          202
23      Subaru    405       Forester          255
24        Jeep    363       Wrangler          164
25     Porsche    361  Carrera Coupe          176
26     Hyundai    264         Sonata          164
27        Saab    210          3-Sep          171
28    Infiniti    195            I30          195
29      Jaguar    180         S-Type          180